@charset "UTF-8";
/* CSS Document */
.sidebar{
	
	position:fixed;
	left:10px;
	top: :10px;
	height:800px;
	width:400px;
	background-color:black;
	color: white;
}
.content{
	position: relative;
	left: 410px;
	width: 88%;
	
}
